{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Start/Stop Container</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
</head>

<body>
    <div>
        <button class="btn btn-outline-success my-2 my-sm-0" id="button0" onclick="startstop()">Start Container</button>
    </div>
    <div id = 'Loading' class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>  

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Loading").hide()
        });
        $(document).ajaxStart(function () {
            $('#Loading').show();
        });
        $(document).ajaxComplete(function () {
            $('#Loading').hide();
        });
        function startstop(){

            console.log($("#button0").html)
            $.ajax({
                type: "POST",
                url: "/simulator/start/",
                data: { status: 'Start' },
                success:function(response) {
                    alert( "Data Saved: " + response );
                }
                });
            }

        
    </script>
</body>

</html>